.App {
  text-align: center;
}

.App * {
  box-sizing: border-box;
}

.todoItem {
  height: 40px;
  border-style: dotted;
  border-color:black;
  margin-top:10px;
  margin-right: 10px;
  margin-left:10px;
  }
.todoItem.achieved {
  background-color: red;
}
.todoItem .id {
  width: 10%;
  background-color: #aebaf2;
  float: left;
}
.todoItem .text {
  background-color: green;
  float: left;
  width: 56%;
  align-content: center;
  padding: 5px 10px;
    margin-left: 10px;
  margin-right: -10px;
}
.todoItem.achieved .text {
  background-color: red;
}
.todoItem .removeBtn {
  width: 8%;
  float: left;
}
.todoItem .achieveBtn {
  width: 8%;
  float: left;
}
.todoItem .downBtn {
  width: 5%;
  float: left;
}
.todoItem .upBtn {
  width: 5%;
  float: left;
}
.todoItem .editSwitchBtn {
  width: 8%;
  float: left;
}
